# {{ ansible_managed }}

vrrp_instance {{ my_keepalived_instance }} {
  state {{ my_keepalived_state }}
  interface {{ my_keepalived_interface }}
  virtual_router_id {{ my_keepalived_router_id }}
  priority {{ my_keepalived_priority }}
  virtual_ipaddress {
    {{ my_keepalived_virtual_ipv4 }}
  }
}