.DS_Store
._.DS_Store
group_vars/pihole/data/
.ansible/collections
.venv
vault.yml
roles/my.pihole/files/generate_*
.trunk
wip_*
host_vars/test*
group_vars/test*
notes
books/get-os-release-file-result.txt
compare-1
compare-2
prompt
"prompt-gen.py/"
_*/
.git
books/check-crontabs.log
