# TODO: why defaults/main.yml is not used?

# Role: my.keepalived
my_keepalived_instance:
my_keepalived_state: MASTER # MASTER/BACKUP
my_keepalived_interface: eth0
my_keepalived_router_id: 1
my_keepalived_priority: 255
my_keepalived_virtual_ipv4:

# Role: my.pihole
my_pihole_setup_keepalived: true
my_pihole_custom_list:
  - 192.168.1.30 odin.{{ local_fqdn }}
  - 192.168.1.50 pve01.{{ local_fqdn }}
  - 192.168.1.51 pve02.{{ local_fqdn }}

# Role: r_pufky.pihole
pihole_update_enable: false
pihole_webpassword: "{{ vault_pihole_webpassword }}"
pihole_pihole_interface: eth0

# Upstream DNS Servers
pihole_pihole_dns_1: 1.1.1.1#53
pihole_pihole_dns_2: 8.8.8.8#53
# pihole_pihole_dns_3:
# pihole_pihole_dns_4:

# Conditional forwarding
pihole_rev_server: true
pihole_rev_server_cidr: 10.4.0.0/24
pihole_rev_server_target: 10.4.0.9
pihole_rev_server_domain: "{{ vault_local_fqdn }}"

pihole_ad_sources: # do this in group_vars "adblock"
