# TODO: why defaults/main.yml is not used?

# Role: my.keepalived
my_keepalived_instance:
my_keepalived_state: MASTER # MASTER/BACKUP
my_keepalived_interface: eth0
my_keepalived_router_id: 1
my_keepalived_priority: 255
my_keepalived_virtual_ipv4:

# Role: my.pihole
my_pihole_setup_keepalived: true
my_pihole_custom_list:
  - 192.168.1.30 odin.{{ local_fqdn }}
  - 192.168.1.50 pve01.{{ local_fqdn }}
  - 192.168.1.51 pve02.{{ local_fqdn }}

# Role: r_pufky.pihole (v6 TOML config)
pihole_srv_update_enable: false
pihole_srv_api_config_enable: false
pihole_cfg_webserver_api_app_pwhash: ''
pihole_cfg_dns_interface: eth0

# Upstream DNS Servers
pihole_cfg_dns_upstreams:
  - '1.1.1.1#53'
  - '8.8.8.8#53'

# Conditional forwarding
pihole_cfg_dns_rev_servers:
  - enabled: true
    ip: '10.4.0.0/24'
    server: '10.4.0.9'
    domain: "{{ vault_local_fqdn }}"

pihole_ad_sources: # do this in group_vars "adblock"
