# Role: my.essentials - install tasks
my_essentials_install_dotfiles: true
my_essentials_install_navi: true
my_essentials_install_chtsh: true
my_essentials_install_dysk: true
my_essentials_install_vimrc: true

# Role: my.essentials - sudo
sudoers_bin_nopasswd: /usr/bin/apt-get, /usr/bin/apt, /usr/sbin/reboot, /usr/sbin/poweroff, /usr/bin/systemctl
