# Description: Install Pi-hole and configure Keepalived for HA

# Pi-hole
- name: Install Pi-hole based on r_pufky.pihole
  ansible.builtin.include_role:
    name: r_pufky.pihole # https://github.com/r-pufky/ansible_pihole

- name: Create custom.list (local dns records for pihole)
  become: true
  ansible.builtin.template:
    src: templates/custom.list.j2
    dest: /etc/pihole/custom.list
    owner: root
    group: root
    mode: "0644"
  notify: Update pihole gravity database
  when: pihole_custom_list_use | default(false)

- name: Include keepalived tasks
  ansible.builtin.include_tasks: keepalived.yml
  when: my_pihole_setup_keepalived | default(true)
