---
dependency:
  name: galaxy
  options:
    role-file: ../../../requirements.yml
    requirements-file: ../../../requirements.yml
driver:
  name: docker
platforms:
  - name: instance
    image: docker.io/geerlingguy/docker-debian12-ansible:latest
    pre_build_image: true
    privileged: true
    command: /lib/systemd/systemd
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
provisioner:
  name: ansible
  playbooks:
    converge: converge.yml
    verify: verify.yml
  config_options:
    defaults:
      roles_path: "${MOLECULE_PROJECT_DIRECTORY}/.."
verifier:
  name: ansible
