# {{ ansible_managed }}

options {
    directory "{{ bind_base_dir }}";
    allow-query  { any; };
    forwarders {
      {% for ns in fallback_nameservers %}
      {{ ns }};
      {% endfor %}
    };
    dnssec-validation auto;
    listen-on    { any; };
    listen-on-v6 { any; };
    allow-transfer { none; };
};
