# {{ ansible_managed }}

[Interface]
Address = {{ wg_address_ipv4 }}
ListenPort = {{ wg_listen_port }}
PrivateKey = {{ wg_private_key }}
PostUp = iptables -A FORWARD -i {{ wg_interface }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ wg_interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ wg_interface }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ wg_interface }} -j MASQUERADE

{% for peer in wg_peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.allowed_ips }}
Endpoint = vpn.walk-steinweiler.de:51820
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endfor %}
