# {{ ansible_managed }}

[Interface]
Address = {{ my_wireguard_client_wg_address_ipv4 }}
ListenPort = {{ my_wireguard_client_wg_listen_port }}
PrivateKey = {{ my_wireguard_client_wg_private_key }}
PostUp = iptables -A FORWARD -i {{ my_wireguard_client_wg_interface }} -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ my_wireguard_client_wg_interface }} -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

{% for peer in my_wireguard_client_wg_peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.allowed_ips }}
Endpoint = vpn.walk-steinweiler.de:51820
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endfor %}
