# {{ ansible_managed }}

# https://github.com/evcc-io/evcc
deb [signed-by=/usr/share/keyrings/evcc-stable-archive-keyring.gpg] https://dl.cloudsmith.io/public/evcc/stable/deb/ubuntu {{ ansible_distribution_release }} main
deb-src [signed-by=/usr/share/keyrings/evcc-stable-archive-keyring.gpg] https://dl.cloudsmith.io/public/evcc/stable/deb/ubuntu {{ ansible_distribution_release }} main
