- name: "Role: my.proxmox - use lae.proxmox role"
  ansible.builtin.include_role:
    name: lae.proxmox

- name: "Role: my.proxmox - vzdump-nfs-fix - set temp-dir in vzdump.conf for nfs backups"
  ansible.builtin.lineinfile:
    path: /etc/vzdump.conf
    regexp: "^#tmpdir: DIR"
    line: "tmpdir: /tmp"

- name: "Role: my.proxmox - remove Proxmox no-subscription popup"
  ansible.builtin.command:
    cmd: sed -Ezi.bak "s/(function\(orig_cmd\) \{)/\1\n\torig_cmd\(\);\n\treturn;/g" /usr/share/javascript/proxmox-widget-toolkit/proxmoxlib.js
  register: output
  changed_when: false
  notify: Restart pveproxy.service
  tags:
    - remove-no-subscription-popup
    - skip_ansible_lint

- block:
    - name: "Role: my.proxmox - setup wakeonlan interface"
    # läuft nur, wenn Guard (unten) erfüllt ist
      ansible.builtin.command:
        argv:
          - pvenode
          - config
          - set
          - -wakeonlan
          - "{{ my_proxmox_wol_iface | trim }}"
      changed_when: false
      tags: wol-interface
  when:
    - my_proxmox_wol_iface is defined
    - my_proxmox_wol_iface is not none
    - my_proxmox_wol_iface | type_debug == 'str'
    - (my_proxmox_wol_iface | trim | length) > 0
    - my_proxmox_wol_iface | trim is match("^(?i)([0-9A-F]{2}:){5}[0-9A-F]{2}$")

- name: "Role: my.proxmox - disable enterprise repo"
  ansible.builtin.apt_repository:
    repo: "deb https://enterprise.proxmox.com/debian/pve {{ ansible_distribution_release }} pve-enterprise"
    state: absent

- name: "Role: my.proxmox - enable community repo"
  ansible.builtin.apt_repository:
    repo: "deb http://download.proxmox.com/debian/pve {{ ansible_distribution_release }} pve-no-subscription"
    state: present

- name: "Role: my.proxmox - watchdog-config - setup"
  ansible.builtin.copy:
    content: "WATCHDOG_MODULE={{ my_proxmox_watchdog }}"
    dest: /etc/default/pve-ha-manager
    mode: "0640"
  register: watchdog
  notify: Reboot - watchdog changed
