# Setup hostname
my_essentials_change_hostname: false
my_essentials_hostname:

# Setup Environment
my_essentials_install_dotfiles: true
my_essentials_install_navi: true
my_essentials_install_chtsh: true
my_essentials_install_dysk: true
my_essentials_install_vimrc: true

# Install Software
my_essentials_apt_upgrade: false
my_essentials_apt_default_packages:
my_essentials_apt_additional_packages:
my_essentials_pip_packages:
my_essentials_npm_packages:
my_essentials_install_node: true

# User Setup
my_essentials_user_username:
my_essentials_user_password:
my_essentials_user_shell: /bin/bash
my_essentials_user_dotfiles_repo: https://github.com/darkiop/dotfiles
my_essentials_user_timezone: Europe/Berlin
my_essentials_user_locale: en_US.UTF-8
my_essentials_user_keyboard_layout: de
my_essentials_user_email:
my_essentials_user_email_password: "{{ vault_my_essentials_user_email_password | default(vault_user_email_password) }}"

# Network Configuration
# setup_network: false
my_essentials_network_mode: dhcp # static/dhcp - default = dhcp
my_essentials_network_interface_name:
my_essentials_network_static_ip_1: "{{ vault_my_essentials_network_static_ip_1 | default(vault_network_static_ip_address) | default(vault_dhcpcd_static_ip_address) }}"
my_essentials_network_static_ip_2: "{{ vault_my_essentials_network_static_ip_2 | default(vault_network_static_ip_address_2) }}"
my_essentials_network_gateway: "{{ vault_my_essentials_network_gateway | default(vault_network_static_routers) | default(vault_dhcpcd_static_routers) }}"
my_essentials_network_domain_name: "{{ vault_my_essentials_network_domain_name | default(vault_network_static_domain_name) | default(vault_dhcpcd_static_domain_name) }}"
my_essentials_network_domain_search: "{{ vault_my_essentials_network_domain_search | default(vault_network_static_domain_search) | default(vault_dhcpcd_static_domain_search) }}"
my_essentials_network_dns_1: "{{ vault_my_essentials_network_dns_1 | default(vault_network_static_domain_name_servers) | default(vault_dhcpcd_static_domain_name_servers) }}"
my_essentials_network_dns_2:

# Sudo
# TODO change name of variable
sudo_sudoersd_dir: /etc/sudoers.d
sudo_sudoersd_owner: root
sudo_sudoersd_group: root
sudoers_bin_nopasswd: /usr/bin/apt-get, /usr/bin/apt, /usr/sbin/reboot, /usr/sbin/poweroff
sudo_defaults:
  - env_reset
  - secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
  - use_pty
  - "!mail_badpass"
