# Role: my.essentials - sudo
sudoers_bin_nopasswd: /usr/bin/apt-get, /usr/bin/apt, /usr/sbin/reboot, /usr/sbin/poweroff, /usr/sbin/pct, /usr/sbin/qm, /usr/local/bin/gstatus, /usr/sbin/gluster, /usr/sbin/nvme, /usr/sbin/pvesm

# Role: my.essentials - apt install aditional_software task
my_essentials_apt_additional_packages:
  # - name

# Role: my.essentials - pip install
my_essentials_pip_packages:
  # - name

# Role: geerlingguy.security
# https://github.com/geerlingguy/ansible-role-security
security_ssh_permit_root_login: "yes"
security_ssh_allowed_users:
  - root
  - "{{ my_essentials_user_username }}"

# Role: bertvv.samba
samba_shares:
  - name: vz-dump
    guest_ok: no
    public: yes
    read_only: no
    writable: yes
    browseable: yes
    owner: "{{ my_essentials_user_username }}"
    path: /var/lib/vz/dump
    valid_users: "{{ my_essentials_user_username }}"
    write_list: "{{ my_essentials_user_username }}"
    group: "{{ my_essentials_user_username }}"

# Role: lae.proxmox
# https://github.com/lae/ansible-role-proxmox
pve_reboot_on_kernel_update: false
pve_remove_old_kernels: false

  # Role: my.proxmox
my_proxmox_watchdog: iTCO_wdt # iTCO_wdt, softdog
