# Network Configuration
my_essentials_network_mode: static # static, dhcp
my_essentials_network_interface_name: eth0
my_essentials_network_static_ip_1: "{{ vault_my_essentials_network_static_ip_1 }}"
my_essentials_network_static_ip_2: "{{ vault_my_essentials_network_static_ip_2 }}"
my_essentials_network_gateway: "{{ vault_my_essentials_network_gateway }}"
my_essentials_network_domain_name: "{{ vault_my_essentials_network_domain_name }}"
my_essentials_network_domain_search: "{{ vault_my_essentials_network_domain_search }}"
my_essentials_network_dns_1: "{{ vault_my_essentials_network_dns_1 }}"
my_essentials_network_dns_2: "{{ vault_my_essentials_network_dns_2 }}"

# Role: my.essentials - install tasks
my_essentials_install_dotfiles: true
my_essentials_install_navi: true
my_essentials_install_chtsh: false
my_essentials_install_dysk: false
my_essentials_install_vimrc: false

# Role: my.essentials - apt install aditional_software task
my_essentials_apt_additional_packages:
#  -

# Role: geerlingguy.security
# allow root login for ssh -> qdevice for proxmox-cluster voteing
security_ssh_permit_root_login: "yes"
security_ssh_password_authentication: "yes"
security_ssh_allowed_users:
  - "{{ my_essentials_user_username }}"
  - root

# Role: my.smartmeter
my_smartmeter_ser2net_install: true
my_smartmeter_restart_smartmeter_install: true
my_smartmeter_socat_install: false

# Role: my.keepalived
my_keepalived_instance: pihole
my_keepalived_state: MASTER
my_keepalived_interface: eth0
my_keepalived_router_id: 1
my_keepalived_priority: 255
my_keepalived_virtual_ipv4: 192.168.1.53/24

# Role: r_pufky.pihole
pihole_update_enable: false
pihole_webpassword: "{{ vault_pihole_webpassword }}"
pihole_pihole_interface: eth0

# Upstream DNS Servers
pihole_pihole_dns_1: 1.1.1.1#53
pihole_pihole_dns_2: 8.8.8.8#53
# pihole_pihole_dns_3:
# pihole_pihole_dns_4:

# Conditional forwarding
pihole_rev_server: true
pihole_rev_server_cidr: 10.4.0.0/24
pihole_rev_server_target: 10.4.0.9
pihole_rev_server_domain: "{{ vault_local_fqdn }}"

# Role: my.tailscale
my_tailscale_auth_key: "{{ vault_my_tailscale_auth_key }}"
my_tailscale_advertise_routes: ["192.168.1.0/24", "10.1.0.0/24", "10.4.0.0/24"]
my_tailscale_advertise_exit_node: true
my_tailscale_extra_flags: ["--accept-dns=false"]
my_tailscale_debug: true
