# {{ ansible_managed }}

hostname
clientid
persistent
option rapid_commit
option domain_name_servers, domain_name, domain_search, host_name
option classless_static_routes
option interface_mtu
require dhcp_server_identifier
slaac private
interface eth0
static ip_address={{ my_essentials_network_static_ip_1 | default(dhcpcd_static_ip_address) }}
static routers={{ my_essentials_network_gateway | default(dhcpcd_static_routers) }}
static domain_name={{ my_essentials_network_domain_name | default(dhcpcd_static_domain_name) }}
static domain_search={{ my_essentials_network_domain_search | default(dhcpcd_static_domain_search) }}
static domain_name_servers={{ my_essentials_network_dns_1 | default(dhcpcd_static_domain_name_servers) }}
