# {{ ansible_managed }}

%YAML 1.1
---
define: &banner \r\nser2net port \p device \d [\B] (Debian GNU/Linux)\r\n\r\n

connection: &usb0
    accepter: tcp,9990
    enable: on
    options:
      banner: *banner
      kickolduser: true
      telnet-brk-on-sync: true
    connector: serialdev,/dev/ttyUSB0,9600n81,local

connection: &usb1
    accepter: tcp,9991
    enable: on
    options:
      banner: *banner
      kickolduser: true
      telnet-brk-on-sync: true
    connector: serialdev,/dev/ttyUSB1,9600n81,local