- name: "Role: my.essentials - apt-install.yml - install default software"
  become: true
  become_user: root
  ansible.builtin.apt:
    name: "{{ my_essentials_apt_default_packages }}"
    state: present
    update_cache: false
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  register: apt_output
  ignore_errors: true

- name: "Role: my.essentials - apt-install.yml - install aditional software"
  become: true
  become_user: root
  ansible.builtin.apt:
    name: "{{ my_essentials_apt_aditional_packages }}"
    state: present
    update_cache: false
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  register: apt_output
  ignore_errors: true