- name: "Role: my.essentials - apt-update.yml - apt-update"
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    upgrade: safe
  when: ansible_facts.distribution in ['Debian', 'Ubuntu']
