# apt-update
- name: "Role my.essentials: apt-update"
  ansible.builtin.include_tasks: apt-update.yml
  tags:
    - role-my.essentials
    - apt-update

# apt-upgrade
- name: "Role my.essentials: apt-upgrade"
  ansible.builtin.include_tasks: apt-upgrade.yml
  tags:
    - role-my.essentials
    - apt-upgrade
  when: my_essentials_apt_upgrade | default(false)

# apt-install
- name: "Role my.essentials: apt-install"
  ansible.builtin.include_tasks: apt-install.yml
  tags:
    - role-my.essentials
    - apt-install

# Install python3-pip
- name: "Role my.essentials: install-python3-pip"
  ansible.builtin.include_tasks: install-python3-pip.yml
  tags:
    - role-my.essentials
    - pip-install
    - python3-pip

# pip-install
- name: "Role my.essentials: pip-install"
  ansible.builtin.include_tasks: pip-install.yml
  tags:
    - role-my.essentials
    - pip-install

# npm-install
- name: "Role my.essentials: npm-install"
  ansible.builtin.include_tasks: npm-install.yml
  tags:
    - role-my.essentials
    - npm-install

# locales
- name: "Role my.essentials: locales"
  ansible.builtin.include_tasks: set-locales.yml
  tags:
    - role-my.essentials
    - locales

# timezone
- name: "Role my.essentials: timezone"
  ansible.builtin.include_tasks:
    file: set-timezone.yml
  tags:
    - role-my.essentials
    - timezone

# adduser
- name: "Role my.essentials: adduser"
  ansible.builtin.include_tasks:
    file: adduser.yml
  tags:
    - role-my.essentials
    - adduser

# hostname
- name: "Role: my.essentials: Setup hostname"
  ansible.builtin.include_tasks: hostname.yml
  tags:
    - role-my.essentials
    - hostname
  when: my_essentials_change_hostname | default(false)

# TODO move to role my.dotfiles
# dotfiles
- name: "Role my.essentials: install-dotfiles"
  ansible.builtin.include_tasks: install-dotfiles.yml
  tags:
    - role-my.essentials
    - install-dotfiles
  when: my_essentials_install_dotfiles | default(true)

# navi - https://github.com/denisidoro/navi
- name: "Role my.essentials: install-navi"
  ansible.builtin.include_tasks: install-navi.yml
  tags:
    - role-my.essentials
    - install-navi
  when: my_essentials_install_navi | default(false)

# cht.sh - https://github.com/chubin/cheat.sh
- name: "Role my.essentials: install-cht.sh"
  ansible.builtin.include_tasks: install-cht.sh.yml
  tags:
    - role-my.essentials
    - install-chtsh
  when: my_essentials_install_chtsh | default(false)

# vimrc - https://github.com/amix/vimrc
- name: "Role my.essentials: install-vimrc"
  ansible.builtin.include_tasks: install-vimrc.yml
  tags:
    - role-my.essentials
    - install-vimrc
  when: my_essentials_install_vimrc | default(false)

# dysk - https://github.com/Canop/dysk/releases
# - name: "Role my.essentials: install-dysk"
#   ansible.builtin.include_tasks: install-dysk.yml
#   tags: install-dysk
#   when: my_essentials_install_dysk | default(false)

#
# TODO: wip
#

# setup-network
# - ansible.builtin.include_tasks: wip__setup-network.yml
#  tags: setup-network
#  when: setup_network | default(false)

# sudoers
- name: "Role: my.essentials: Setup and Install sudo"
  ansible.builtin.include_tasks:
    file: sudoers.yml
  tags:
    - role-my.essentials
    - sudo
